
#drag-1 {
  width: 50px;
  height: 50px;
  margin: 0;

  border-radius: 0.75em 0 0 0.75em;

  opacity: 0.7;
  background: url('./Gajasura.jpg');
  background-size: contain;
}

#drag-2 {
  width: 50px;
  height: 50px;
  margin: 0;

  border-radius: 0.75em 0 0 0.75em;

  opacity: 0.7;
  background: url('./Angada.jpg');
  background-size: contain;
}

/* #drag-2 {
  width: 10px;
  height: 10px;
  margin: 10%;

  background-color: #29e;
  color: white;
  opacity: 0.5;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
} */

#yanxia {
  width: 500px;
  height: 500px;

  background: url('./Yanxia-Hunt-Maps.jpg');
  background-size: contain;
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}