#erle {
  background: url('./Erle.jpg');
  background-size: contain;
}
.marker {
  width: 50px;
  height: 50px;
  
  border: 1px solid #003ee9;
  border-radius: 50%;
  opacity: 0.7;
}
.redBorder {
  border: 1px solid #e90000 !important;
}

.marker::after{
  content: "";
  width: 0px;
  height: 0px;
  bottom: -18px;
  left: 15px;
  
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #003ee9;
}


#orcus {
  background: url('./Orcus.jpg');
  background-size: contain;
}

#vochstein {
  background: url('./Vochstein.jpg');
  background-size: contain;
}

#aqrabuamelu {
  background: url('./Aqrabuamelu.jpg');
  background-size: contain;
}

#mahisha {
  background: url('./Mahisha.jpg');
  background-size: contain;
}

#luminare {
  background: url('./Luminare.jpg');
  background-size: contain;
}

#gajasura {
  background: url('./Gajasura.jpg');
  background-size: contain;
}

#angada {
  background: url('./Angada.jpg');
  background-size: contain;
}

#oni {
  background: url('./Oni-Yumemi.jpg');
  background-size: contain;
}

#funa {
  background: url('./Funa-Yurei.jpg');
  background-size: contain;
}

#girimekhala {
  background: url('./Girimekhala.jpg');
  background-size: contain;
}

#sum {
  background: url('./Sum.jpg');
  background-size: contain;
}

#fringes {
  width: 500px;
  height: 500px;

  background: url('./The-Fringes-Hunt-Maps.jpg');
  background-size: contain;
}
#peaks {
  width: 500px;
  height: 500px;

  background: url('./The-Peaks-Hunt-Maps.jpg');
  background-size: contain;
}#lochs {
  width: 500px;
  height: 500px;

  background: url('./The-Lochs-Hunt-Maps.jpg');
  background-size: contain;
}#yanxia {
  width: 500px;
  height: 500px;

  background: url('./Yanxia-Hunt-Maps.jpg');
  background-size: contain;
}#rubySea {
  width: 500px;
  height: 500px;

  background: url('./The-Ruby-Sea-Hunt-Maps.jpg');
  background-size: contain;
}#azim {
  width: 500px;
  height: 500px;

  background: url('./The-Azim-Steppe-Hunt-Maps.jpg');
  background-size: contain;
}
#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}